// font
$font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Basic Colors
$white: #ffffff;
$black: #000000;

// Brand Colors
$color-primary: #4571c4;
$color-primary-dark: #315db0;
$color-danger: #ff0000;
$color-warning: #ffbb00;
$color-success: #66ff66;